<footer>
  <div class="footer">
    <section class="footer__content container">
      <div class="footer__item">
        <div class="footer__item-header">
          <img
            src="https://cdn-5ffca124c1ac1910081163ba.closte.com/wp-content/uploads/2021/05/logo.png"
            alt="Anh Full Stack"
          />
        </div>
        <div class="footer__item-content">
          <h5>Điện thoại: 0345.864.339</h5>
          <h5>Email: PhamMinh@gmail.com</h5>
          <h5>Địa chỉ: Khu đô thị Đại Kim, Hoàng Mai, Hà Nội</h5>
        </div>
      </div>
      <div class="footer__item">
        <div class="footer__item-header">
          <h3>Hợp tác liên kết</h3>
        </div>
        <div class="footer__item-content">
          <h5>Đăng ký giảng viên</h5>
          <h5>Giải pháp</h5>
          <h5>Đào tạo doanh nghiệp</h5>
          <h5>Giải pháp e-learning</h5>
        </div>
      </div>
      <div class="footer__item">
        <div class="footer__item-header">
          <h3>Ứng dụng liên kết</h3>
        </div>
        <div class="footer__item-content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          ><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
              d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
            ></path></svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          ><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
              d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
            ></path></svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          ><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path
              d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"
            ></path></svg>
        </div>
      </div>
    </section>
    <section class="footer__bottom">
      <h3>@right Học lập trình cho người đi làm FullStack</h3>
    </section>
  </div>
</footer>