<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar__right">
    <img
      src="https://cdn-5ffca124c1ac1910081163ba.closte.com/wp-content/uploads/2021/05/logo.png"
      alt="Anh Full Stack"
    />
    <span>Tự học lập trình</span>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nav__header" id="navbarSupportedContent">
    <ul class="navbar__list">
      <li class="navbar__list-item navbar__list-item--separate">
        <a href="/">Home</a>
      </li>
      <li class="navbar__list-item">
        <a href="/courses/create">Đăng Khóa Học</a>
      </li>
      <li class="navbar__list-item">
        <a href="/me/stored/courses">Khóa Học Của Tôi</a>
      </li>
    </ul>
    <div class="navbar__img">
      <img
        src="https://demoda.vn/wp-content/uploads/2022/01/hinh-nen-4k-laptop-va-pc.jpg"
        alt="Anh_nen"
      />
      <p>MinhPham</p>
      <button><a href="/login">Logout</a></button>
    </div>
  </div>
</nav>