<div class="container__home">
  <div class="container__home-list">
    {{#each courses}}
      <div class="col-sm-6 col-lg-4">
        <div class="container__home-item card card-course-item">
          <a href="/courses/{{this.slug}}">
            <img
              class="card-img-top"
              src="{{this.image}}"
              alt="{{this.name}}"
            />
          </a>
          <div class="card-body">
            <div class="card-body-content">
              <a href="/courses/{{this.slug}}">
                <h5 class="card-title">{{this.name}}</h5>
              </a>
              <p class="card-text">{{this.description}}</p>
            </div>
            <a href="#" class="btn btn-primary">Mua khóa học</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>