<div class="login">
      <div class="login__content">
            <img src="https://tuhoclaptrinh.edu.vn/upload/post/15/99/10/full-stack-developer-can-hoc-nhung-gi-404771.jpg" alt="logo">
            <h1>Chào mừng bạn đến với <br>lập trình</h1>
            <form action="/login" method="POST">
                  <input type="text" name="email" id="email" placeholder="Tên đăng nhập"></br> </br>
                  <input type="password" name="password" id="password" placeholder="Nhập password"> </br> </br>
                  <button type="submit">Login</button>
            </form>
      </div>
</div>