<div class="mt-4">
  <form method="POST">
    <div class="form-group">
      <label for="search-input">Từ khóa</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Nhập từ khóa"
      />
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm </button>
  </form>
</div>