<div class="container__create-course">
  <h3>Đăng khóa học</h3>
  <form method="POST" action="/courses/store">
    <div class="form-group">
      <label for="name">Tên khóa học</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="form-group">
      <label for="description">Mô tả khóa học</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="videoID">VideoID</label>
      <input type="text" class="form-control" id="videoID" name="videoID" />
    </div>
    <div class="form-group">
      <label for="level">Trình độ</label>
      <input type="text" class="form-control" id="level" name="level" />
    </div>
    <div class="form-group">
      <label for="image">Link Image</label>
      <input type="text" class="form-control" id="image" name="image" />
    </div>
    <button type="submit" class="btn btn-primary">Thêm khóa học</button>
  </form>
</div>