<div class="edit__course">
  <h3>Cập nhật khóa học</h3>
  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="form-group">
      <label for="name">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        value="{{course.name}}"
        id="name"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="description">Mô tả khóa học</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
      >{{course.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="videoID">VideoID</label>
      <input
        type="text"
        class="form-control"
        value="{{course.videoID}}"
        id="videoID"
        name="videoID"
      />
    </div>
    <div class="form-group">
      <label for="level">Trình độ</label>
      <input
        type="text"
        class="form-control"
        value="{{course.level}}"
        id="level"
        name="level"
      />
    </div>
    <div class="form-group">
      <label for="level">Link image</label>
      <input
        type="text"
        class="form-control"
        value="{{course.image}}"
        id="image"
        name="image"
      />
    </div>
    <button type="submit" class="btn btn-primary">Lưu lại</button>
  </form>
</div>