.container__create-course{
    height: 100%;
    padding: 20px 0;
}

.container__create-course h3{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px;
}