.footer{
    background-color: #181821;
}

.footer__content{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 68px;
    padding-bottom: 40px;
}

.footer__item{
    width: 30%;
}

.footer__item-header{
    height: 100px;
    font-size: 25px;
    color: #fff;
    align-items: center;
    margin-bottom: 30px;
}

.footer__item-header h3{
    line-height: 100px;
    font-weight: 400;
}

.footer__item-header img{
    height: 100px;
}

.footer__item-content{
    color: #fff;
}

.footer__item-content h5{
    font-size: 20px;
    font-weight: 300;
}

.footer__item-content h5:hover{
    opacity: 0.6;
    cursor: pointer;
}

.footer__item-content svg{
    width: 50px;
    height: 50px;
    fill: #eb2c3b;
    margin-right: 20px;
    cursor: pointer;
}

.footer__item-content svg:first-child{
    fill: #4867aa;
}

.footer__item-content svg:last-child{
    fill: #fff;
}

.footer__bottom{
    height: 60px;
    background-color: #000;
}

.footer__bottom h3{
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 60px;
}

@media(max-width: 994px){
    .footer__content{
        display: block;
    }
    .footer__item{
        width: 100%;
        display: flex;
        margin-bottom: 10px;
    }
    .footer__item:first-child{
        height: 115px;
    }
    .footer__item-header{
        margin-right: 10%;
        width: 30%;
    }
    .footer__item-header h3{
        line-height: 1.5;
    }
}
