.navbar{
    height: 60px;
    font-size: 20px;
    padding: 0 0 0 2.63%;
    position: relative;
}

.navbar__right{
    display: flex;
    width: 22%;
}

.navbar__right span{
    margin: auto 0 auto 15%;   
}

.navbar__right > img{
    height: 60px;
}

.nav__header{
    height: 100%;
    margin-left: 2%;
    justify-content: space-between;
}


.navbar__list{
    display: flex;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    position: relative;
}

.navbar__list-item{
    padding: 15px 15px;
}

.navbar__list-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid black;
    height: 25px;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__list-item:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

/* .navbar__list-item + .navbar__list-item{
    margin-left: 25px;
} */

.navbar__list-item a{
    color: #000;
}

.navbar__list-item a:hover{
    text-decoration: none;
}

.navbar__img{
    margin-right: 40px;
    float: right;
    margin-right: 18%;
    display: flex;
    align-items: center;
}

.navbar__img img{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar__img p {
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-right: 10px;
}

.navbar__img button{
    outline: none;
    border: none;
    background-color: #f05123;
    border-radius: 999px;
    padding: 4px 20px;
    cursor: pointer;
    font-size: 18px;
}

.navbar__img a{
    color: #fff;
    text-decoration: none;
}

.navbar__img button:hover{
    opacity: 0.6;
}

@media(max-width: 1076px){
    .navbar{
        font-size: 15px;
    }
    .navbar__right span{
        display: none;
    }
}

@media(max-width: 994px) {
    .navbar{
        height: auto;
    }    
    .nav__header{
        margin-left: 0;
    }
    .navbar__list-item--separate::after{
        display: none;
    }
    .navbar__list{
        display: block;
        padding-left: 0;
    }
    .navbar__img{
        display: none;
    }
}