.container__home{
    min-height: 500px;
    margin: 20px 0;
}

.container__home-list{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container__home-item {
    height: 395px;
    margin-bottom: 30px;
}

.container__home .card-body-content{
    height: 110px;
    overflow: hidden;
    margin-bottom: 20px;
}