.login{
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(https://accounts.fullstack.edu.vn/static/media/f8_bg_auth_1920.b517075e98f3051de678.png);
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    height: 721px;
}

.login__content{
    width: 640px;
    background: #fff;
    border-radius: 8px;
    max-width: calc(100vw - 32px);
    min-height: 600px;
    padding: 48px 16px;
    margin: auto auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: truot 0.5s linear 0.5s;
    animation-fill-mode: forwards;
}

.login__content img{
    height: 120px;
    width: 200px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
}

.login__content h1{
    text-align: center;
    margin-top: 10%;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 20px 0;
}

.login__content form{
    text-align: center;
}

.login__content input{
    width: 320px;
    height: 44px;
    background-color: #fff;
    border: 2px solid #dce0e3;
    border-radius: 44px;
    line-height: 44px;
    padding: 12px 20px;
    outline: none;
}

.login__content button{
    width: 320px;
    height: 44px;
    background-color: #fff;
    border: 2px solid #dce0e3;
    border-radius: 44px;
    font-size: 22px;
    font-weight: 400;
    outline: none;
}

.login__content button:hover{
    background-color: rgba(0,0,0,.2);
}

@keyframes truot{
    from{
        top: 0;
        opacity: 0;
    }
    to {
        top: 75px;
        opacity: 1;
    }
}