.show__course{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    min-height: 580px;
}

.show__course--left{
    width: 40%;
}

.show__course--left h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.show__course--left p{
    color: rgba(0,0,0,.8);
    font-size: 14px;
    line-height: 1.6;
}

.show__course--left h5{
    font-size: 20px;
    font-weight: 700;
    margin: 36px 0 4px;
}

.course__detail-list{
    margin-bottom: 40px;
    padding-left: 0;
}

.course__detail-list li{
    list-style-type: none;
    line-height: 1.6;
}

.course__detail-list svg{
    width: 14px;
    fill: #f05123;
}

.show__course--right{
    width: 50%;
    text-align: center;
}

.show__course--right iframe{
    border-radius: 10px;
    margin-bottom: 15px;
}

.show__course--right button{
    font-size: 16px;
    margin-top: 16px;
    min-width: 180px;
    padding: 10px 16px;
    background-color: #f05123;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.show__course--right h5{
    color: #f05123;
    font-size: 32px;
    font-weight: 400;
    margin: 0 auto;
    opacity: .8;
}

.show__course--right button:hover{
    opacity: 0.6;
}

.show__course--left h4{
    font-size: 25px;
    font-weight: 500;
}